form {
    width: 500px;
   }

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}



.footer {
    flex-shrink: 0;
    background-color: #7a92d3;
    padding-top: 50px;
    color: white;
}

